.imagen1{
    width: 450px;
    height: 250px;
}
.imagen2{
    width: 300px;
    height: 400px;
}    
.imagen3{
    width: 300px;
    height: 400px;
}
.imagen4{
    width: 420px;
    height: 380px;
}
.imagen5{
    width: 400px;
    height: 400px;
}
.imagen6{
    width: 420px;
    height: 300px;
}
.imagenaside1{
    width: 200px;
    height: 130px;
}
.imagenaside2{
    width: 200px;
    height: 130px;
}